* { /* selector universal */
    padding: 0; /* espacio entre el contenido de un elemento y el borde iniciado en 0 */
    margin: 0; /* margen iniciado en 0*/
}

.header { /* encabezado de la pagina */
    background-color: #FFFFFF; /* Código hexadecimal para un color blanco */
}

.header .container-header { /* contenedor principal de header */
    display: flex; /*  habilita el uso de flexbox. Flexbox es un sistema de diseño en CSS que facilita la creación de diseños flexibles y responsivos */
    justify-content: space-between; /* distribuyen los elementos a lo largo del eje principal del contenedor al comienzo y al final */
    align-items: center; /*  define cómo se alinean los elementos a lo largo del eje secundario del contenedor, de forma vertical en el centro */
    padding: 20px; /* espaciado en pixeles */
    margin: 5px; /* margen de pixeles */
}

.header .container-header .account, .icons { /* selectores multiples, de contenedores internos */
    display: flex; /* flexblox, diseño en linea */
}

a { /* selector universal de todos los enlaces de la pagina */
    text-decoration: none !important; /* sin decoracion de subrayado */
    margin: 10px; /* margen 10 pixeles */
    color: black; /* color de enlaces negro */
}

.container-header .icons .social-media ul { /* ruta hacia la lista desord en clase social-media */
    list-style: none; /* quitar viñeta de la lista */
    display: flex; /* flexbox horizontal */
}

.main { /* clase del cuerpo */
    height: 100%; /* altura del cuerpo en porcentaje o 750 px para comenzar  */
    background-color: #00C2CB; /* Código hexadecimal para un color aqua */
}

.container-main { /* contenedor principal del cuerpo */
    font-size: 2rem; /* tamaño de la fuente en medida rem */
}

.container-main .main-image { /* ruta hacia el contenedor de la imagen */
    text-align: center; /* Centra horizontalmente el contenido */
}

.container-main .main-image img { /* ruta hacia la imagen en main */
    width: 300px; /* ancho de la imagen en pixeles */
    height: 300px; /* altura de la imagen en pixeles */
}

.container-main hr { /* ruta linea horizontal */
    margin: 40px 0; /* Margen vertical en pixeles arriba y abajo */
}

.container-main .main-cards { /* ruta hacia el contenedor de las tarjetas */
    display: flex; /*  habilita el uso de flexbox. Flexbox es un sistema de diseño en CSS que facilita la creación de diseños flexibles y responsivos */
    align-items: center; /*  define cómo se alinean los elementos a lo largo del eje secundario del contenedor, de forma vertical en el centro */
    justify-content: center; /* justificar contenido en el centro */
}

.container-main .main-cards .card { /* ruta hacia las tarjetas */
    border: 1px solid #ccc; /* borde en pixel tipo solido color blanco */
    padding: 10px; /* espaciado en pixeles */
    margin: 20px; /* margen en pixeles */
    text-align: center; /* texto alineado en el centro */
    background-color: white; /* color de fondo blanco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sombra alrededor en pixeles color negro y con opacidad */
    transition: transform 0.3s, box-shadow 0.3s; /* transición suave a transform y box shadow */
    margin-bottom: 80px; /* margen inferior a las tarjetas en pixeles */
    display: flex; /* flexbox para el diseño */
    flex-direction: column; /* alinea los elementos verticalmente */
    justify-content: space-between; /* ajusta el espacio entre los elementos */
    height: 100%; /* asegura que la tarjeta ocupe todo el alto disponible */
}

.container-main .main-cards .card:hover { /* ruta hacia la tarjeta y el hover para realizar un efecto al colocar el cursor */
    transform: translateY(-10px); /* transformacion de traslacion en eje vertical en pixeles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra alrededor en pixeles color negro y con opacidad */
}

.container-main .main-cards .card img { /* ruta hacia la imagen de la tarjeta */
    max-width: 100%; /* ancho maximo establecido para la imagen en porcentaje */
    max-height: 300px; /* altura máxima para la imagen en pixeles */
}

.container-main .main-cards .card p { /* ruta hacia el parrafo de la tarjeta */
    margin-top: auto; /* margen superior en automatico */
    font-size: 14px; /* tamaño de fuente en pixeles */
}

.footer { /* pie de pagina */
    color: white; /* color de texto blanco */
    background-color: #000000; /* Código hexadecimal para un color aqua */
}

.footer a { /* ruta a enlaces */
    color: white; /* color de enlaces blanco */
}

.footer .container-footer { /* contenedor principal de header */
    height: 350px; /* altura del pie en pixeles */
    display: flex; /*  habilita el uso de flexbox. Flexbox es un sistema de diseño en CSS que facilita la creación de diseños flexibles y responsivos */
    justify-content: center; /* distribuyen los elementos verticalmente desde inicio y fin */
    align-items: flex-start; /*  define cómo se alinean los elementos a lo largo del eje secundario del contenedor, de forma vertical hacia la izquierda */
}

.footer .container-footer .social-media, .contact { /* ruta hacia los contenedores secundarios del pie */
    /* background-color: lightblue; */
    padding: 20px;  /* espaciado en pixeles */
    height: 200px; /* alto */
    width: 300px; /* ancho */
    margin: 30px 0 0 100px; /* margen superior y derecho */
    text-align: left; /* texto alineado a la izquierda */
}

.footer .container-footer h3 { /* ruta hacia titulo en pie */
    font-size: 2rem; /* tamaño de la fuente en rem */
    line-height: 5rem; /* ancho de linea en rem */
}

.footer .container-footer ul { /* ruta hacia la lista desord en clase social-media */
    list-style: none; /* quitar viñeta de la lista */
    display: flex; /* flexbox horizontal */
}

.footer .container-footer .contact .form { /* ruta hacia el formulario en el pie */
    border-radius: 5px; /* radio de bordes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sombra alrededor del elemento */
}

.footer .container-footer .contact .form .form-group { /* ruta hacia los contenedores de correo y contraseña en formulario */
    margin-bottom: 5px; /* margen inferior en pixeles */
}

.footer .container-footer .contact .form .btn-primary { /* ruta hacia el boton enviar en el formulario */
    width: 30%; /* ancho del boton */
}

.footer .container-footer .social-media .contact .form #warnings{ /* ruta de los mensajes de advertencia */
    width: 200px; /* ancho */
    text-align: center; /* alineacion central */
    margin: auto; /* margen automatico */
    color: #B06AB3; /* color en rgb */
    padding-top: 20px; /* relleno superior */
}

.footer .container-derechos { /* contenedor derechos de autor */
    text-align: center; /* texto alineado en el centro */
    justify-content: center; /* justificacion en el centro */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.961);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay .active {
    visibility: visible;
}

.popup {
    width: 30%;
    height: 60%;
    font-size: 18px;
    text-align: left;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    position: fixed;
    min-height: 250px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #000000;
}

.popup .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.popup .encabezado .title {
    font-size: 33px;
    margin: 10px;
    padding: 10px;
}

.popup .formulario {
    font-size: 14px;
    line-height: 3.0;
}

.popup .formulario .form {
    margin: 15px;
    padding: 15px;
}

.popup .formulario .form .input {
    margin-top: -10px;
    width: 98%;
    height: 40px;
    font-size: 18px;
    border: 0.5px solid #b9b7b7;
    text-align: center;
    line-height: 52px;
}

.popup .formulario .form .form-name, .form-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: -110px;
}

.popup .formulario .form .form-name .nombre, .apellido, .contraseña, .repetir-contraseña {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.popup .formulario .form .form-contact .correo, .telefono {
    display: flex;
    flex-direction: column;
}

.popup .formulario .btn-enviar {
    margin: 10px;
    padding: 10px;
    position: relative;
}

.popup .formulario .btn-primary {
    width: 40%;
    height: 40px;
    background-color: #8CE7FA;
    border: none;
    position: absolute;
    left: 55%;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup .formulario .btn-primary:hover {
    background: #d0a4e3;
}